<h1>Welcome to Home page after logged in</h1>
<p>Only for logged in users</p>

<p>Here we display a list of users books, etc</p>

<h1>Home#show</h1>

<%= link_to "Add profile information", new_profile_path %>
<br />
<% if @user_on_fb %>
<p><strong>Account associated with Facebook</strong></p>
<% else %>
<%= link_to "Associate account with Facebook", '/facebooks/login'%>
<% end %>
