<p>
	<%= google_volume.average_rating %>
</p>

<p>
	<%= google_volume.ratings_count %> ratings
</p>

<p>
	Publisher: <%= google_volume.publisher %>
</p>

<p>
	Publishing date: <%= google_volume.published_date %>
</p>


