<%= render partial: "search" %>

<ul class="nav nav-tabs">
	<li class="active"><a href="#list_new_releases" data-toggle="tab">New Releases</a></li>
	<li><a href="#list_popular" data-toggle="tab">Popular</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="list_new_releases">
			<%= render partial: "list", locals: {books: @books_latest} %>
		</div>	
	<div class="tab-pane" id="list_popular">
		<%= render partial: "list", locals: {books: @books_popular} %>
	</div>
	
</div>

